<h1>
	Welcome to The Blog
</h1>

<table>
	<% @blogs.each do |post| %>
		<tr>
			<td class="title">
				<a href="/entry/<%= post.id %>">
					<%= post.title %>
				</a>	
			</td>
		</tr>
		<tr>
			<td class="time">
				<%= post.created_at.strftime("%k:%M, %d %b %Y") %>
			</td>
		</tr>
		<tr>
			<td class="post">
				<%= post.post %>
			</td>
		</tr>
	<% end %>
</table>

