<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Blog</title>
	<link rel="stylesheet" href="/stylesheets/styles.css">
	<link href='http://fonts.googleapis.com/css?family=Reenie+Beanie|Coming+Soon' rel='stylesheet' type='text/css'>
	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/scripts.js"></script>
</head>
<body>
	<% if session[:current_user] %>

		<form action="/sessions" method="post">
			<input type="hidden" name="_method" value="delete">
			<input type="submit" value="Log Out">
		</form>

	<% else %>
		
		<a href="/sessions/login">Log In</a>
	
	<% end %>

	<%= yield %>
</body>
</html>