<h1>
	Write a Post
</h1>

<form id="newpost" action="/new" method="post">
	<textarea rows="1" cols="50" name="blog[title]" placeholder="Title"></textarea><br>
	<textarea rows="25" cols="50" name="blog[post]" placeholder="Start writing here..."></textarea><br>
	<input type="submit" value="Post" />
</form>