.title {
	padding-top: 20px;
	font-size: 30px;
}

.post {
	border-bottom: 1px dotted black;
	padding-bottom: 20px;
}

.time {
	font-style: italic;
}

table {
	margin: 0 auto; 
	max-width: 800px;
	padding: 0 10px; 
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#newpost {
	max-width: 600px;
	border: 1px solid black;
	padding: 15px;
}

textarea {
	padding: 5px;
}